* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", "Arial", sans-serif;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form {
    width: 481px;
    height: 392px;
    background: #F7F5F9;
    border-radius: 12px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 14px;
}
.form__title {
    color:#3B3D43;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 25px;
}
.form__input {
    font-size: 15px;
    line-height: 20px;
    height: 48px;
    width: 100%;
    background: #FFFFFF;
    padding: 12px 33px 13px 13px;
    border-radius: 6px;
    outline: 0;
    outline-offset: 0;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    border: 1px solid #FFFFFF
}

.form__input::placeholder {
    color: #D0C9D6;
    font-size: 15px;
    line-height: 20px;
}
.form__input:focus {
    border: 1px solid #854FC8;
}
.form__input:hover {
    box-shadow: 0 0 0 1px #854FC8;
}
.form__button:hover {
    border: 1px solid #854FC8;
}
.form__line {
    margin-bottom: 25px;
}
.form__button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: #6979F8;
    border-radius: 6px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;  
    outline: 0;
    outline-offset: 0;
    box-sizing: border-box;
    border: 1px solid #6979F8
}
